/*******PAR CATEGORIE*******/
/*ET SOUS CATEGORIE*/
/*PAR ORDRE ALPHABETIQUE*/

/*******GENERAL*******/
.alert{
	text-align:center;
	color:red;
	font-weight:bold;
}
.clr{
	clear:both;
}
#corps{
	padding-top:50px;
	margin:auto;
	width:1000px;
}
.infos{
	text-align:center;
	color:green;
	font-weight:bold;
}
/*MENU*/
#menuBar{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:#444;
	height:50px;
}
.subMenuL, .subMenuR{
	height:100%;
	border-right:1px solid #666;
	padding:0px 12px;
}
.subMenuL{
	float:left;
}
.subMenuR{
	float:right;
}
/*BOUTONS MENU*/
.menuLink{
	text-decoration:none;
	color:black;
	font-weight:bold;
	padding:5px 10px;
	border:0px;
	border-radius:10px;
	background-color:#777;
	box-shadow:2px 2px 4px #666;
	cursor:pointer;
	position:relative;
	top:15px;
}
.menuLink:hover{
	background-color:#666;
	box-shadow:2px 2px 6px #555;
	top:16px;
	left:1px;
}
/*VOLUME*/
#speakerImg{
	background: url('../images/volume_icons.png') 0px 0px no-repeat;
	width:12px;
	height:100%;
}
#volume{
	background-color:#FF4800;
}
#volumeBack{
	background-color:#666;
}
#volume, #volumeBack{
	position:absolute;
	top:22px;
	left:15px;
	width:100px;
	height:6px;
	border-radius:3px;
}
#volumeImg{
	background: url('../images/volume_icons.png') 0px -50px no-repeat;
	width:12px;
	height:50px;
	float:left;
}
#volumeGestionDiv{
	position:relative;
	width:12px;
	height:100%;
	overflow:hidden;
	float:left;
}


/*******PAGE MUSIC*******/
.audioBar{
	position:absolute;
	top:0px;
	left:0px;
	height:50px;
}
.artisteName{
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
	font-size:14px;
	color:#999;
}
.barGroup{
	position:relative;
	width:100%;
	background-color:#5F5F5F;
	border-radius:3px;
	cursor:pointer;
}
.bufferedBar{
	background-color:#444544;
}
.controlBar{
	width:100%;
	height:30px;
}
.control{
	height:100%;
	float:left;
	cursor:pointer;
}
.downloadDiv{
	padding-top:5px;
	float:right;
}
.downloadLink{
	position:relative;
	top:3px;
	font-weight:bold;
	color:black;
	text-decoration:none;
	background-color:#999;
	border:1px solid #333;
	border-radius:8px;
	padding:3px;
	margin:3px;
}
.music{
	position:relative;
	width:1000px;
	border:1px solid grey;
	border-radius:10px;
	padding:10px;
	margin:5px;
}
.musicInfos{
	float:left;
	padding:5px;
}
.musicName{
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#333;
}
.play{
	background:#FF4800 url('../images/play.png') no-repeat center center;
	background-position:0px 0px;
	width:30px;
	height:30px;
	margin-right:8px;
	border:1px solid #FA4300;
	border-radius:15px;
	box-shadow:2px 2px 5px #AAA;
	float:left;
	cursor:pointer;
}
.play:hover{
	background-color:#FA4300;
	box-shadow:2px 2px 5px #CCC;
}
.progressBar{
	background-color:#FF4800;
}
.waveBar{
	width:100%;
}

/*******PAGE UPLOAD*******/
#logoImg{
	height:30px;
	margin:10px;
}
#uploadStateImg{
	display:none;
	width:100px;
}

/*******PAGE REGISTER/CONNEXION*******/
.forms{
	width:500px;
	margin:24px;
	margin:auto;
	border-radius:10px;
	background-color:#eaeaea;
}
.forms input, .forms select, .forms label{
	float:left;
}
.forms input{
	width:68%;
}
.forms label{
	display:block;
	width:30%;
}
.submitDiv{
	text-align:center;
}